*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: Consolas, monaco, monospace;
    color: #000;
    scroll-behavior: smooth;
}

body{
    background-size: cover;
    background-color: #222;
}

section{
    padding: 6rem 0;
    margin-left: 15%;
}

a{
    text-decoration: none;
    margin-right: 10px;
    color: #000;
    cursor: pointer;
}

p{
    font-size: 1.8rem;
    font-weight: 300;
}

img{
    width: 80%;
}

header{
    width: 85%;
    height: 100vh;
}

.landing-text{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 7.5%;
    transform: translate(-50%, -50%);
    width: 85%;
    text-align: center;
    z-index: 1;
    color: #eee;
}

.collapse {
    display: none;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 15%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
/*  padding-top: 20px;*/
    padding-top: 40vh;
    text-align: center;
}

.sidenav.open {
    left: 0;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.selected-navitem {
    color: #f1f1f1 !important;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.landing-text h1 {
    font-size: 5rem;
}

.landing-text h6 {
    font-size: 2rem;
    opacity: 0%;
    animation: fadein;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.down-button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 7.5%;
    color: #777;
}

.down-button h5 {
    font-size: 1.8rem;
    margin-right: 10px;
}

#down-icon {
    font-size: 1.8rem;
    margin-top: 0;
}

.down-button:hover {
    color: #eee;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 100%;}
}

.container {
    padding-left: 5%;
    padding-right: 5%;
}

.project-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-bottom: 2rem;
}

.link {
    position: relative;
    left: 25px;
    top: 5px;
    font-size: 1.2rem;
/*    font-weight: bold;*/
}

.link:hover {
    font-weight: bold;
}

.fakeScreen:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(255,255,255,0.2);
}

.section-heading {
    text-align: center;
    margin-bottom: 5rem;
    color: #eee;
}

.section-heading h1,
.section-end h1 {
    font-size: 3rem;
}

.section-heading h6 {
    font-size: 1.5rem;
}

.section-end {
    text-align: center;
    margin-top: 5rem;
    color: #eee;
}


.video-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 800px;
}

.video-item img {
    width: 30%;
}

.video-item:hover img {
    box-shadow: 5px 2px 2px 1px rgba(0, 0, 0, .2);
}

.video-description {
    margin-left: 20px;
    flex-grow: 1;
/*    padding-top: 4%;*/
}

.video-description h3 {
    font-size: 1.5rem;
}

.video-description h4 {
    font-size: 1.25rem;
    color: #777;
} 


/*Notepad*/

#window{
    display: flex;
    flex-direction: column;
    flex: 1;
  width: 40%;
  background: #f1f1f1;
  margin: 0 auto;
  border-radius: 3px;
  padding: 5px;
  color: #333;
  cursor: default;
  box-shadow: 0 0 16px -2px rgba(50,50,50,.5);
}

#minimize{background: #3c6;}
#resize{background: #cc3;}
#close{background: #c33;}
#minimize:hover{background: #1a4;}
#resize:hover{background: #aa1;}
#close:hover{background: #a11;}


#textarea{
  width: 100%;
    height: 100%;
    flex: 1;
/*  max-width: 96%;*/
/*  min-height: 250px;*/
  background: #fff;
  margin-top: 10px;
  border: 0;
  padding: 2%;
/*  font-size: 95%;*/
    font-size: 1.5rem;
/*  line-height: 24px;*/
  color: #333;
  overflow: auto;
    border-radius: 1%;
}

/*End Notepad*/


/*Footer*/

footer {
    background-color: #222;
    height: 80px;
    text-align: center;
    padding-left: 15%;
    color: #fff;
}

.copywright {
    font-family: serif;
}

/*End Footer*/

.menu-toggler{
    position: absolute;
    top: 5rem;
    left: 5rem;
    width: 4rem;
    height: 4rem;
/*    display: flex;*/
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}

.menu-toggler.open{
/*    transform: rotate(-90deg);*/
}

.bar{
    background-color: #eee;
    width: 100%;
    height: 4px;
    border-radius: .8rem;
    transition: transform 650ms ease-out;
    position: absolute;
}

.start {
    
}

.mid {
    top: 1.5rem;
}

.end {
    top: 3rem;
}


/*Drawer Button Animation*/

.open .start {
  animation: ease .7s top-1 forwards;
}

.not-open .start {
  animation: ease .7s top-2 forwards;
}

.open .mid {
  animation: ease .7s scaled forwards;
}

.not-open .mid {
  animation: ease .7s scaled-2 forwards;
}

.open .end {
  animation: ease .7s bottom-1 forwards;
}

.not-open .end {
  animation: ease .7s bottom-2 forwards;
}

@keyframes top-1 {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 3rem;
    transform: rotate(0);
  }
  100% {
    top: 3rem;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 3rem;
    transform: rotate(45deg);
  }
  50% {
    top: 3rem;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom-1 {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 3rem;
    transform: rotate(0);
  }
  100% {
    bottom: 3rem;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 3rem;
    transform: rotate(135deg);
  }
  50% {
    bottom: 3rem;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/*End Drawer Button Animation*/




