/* COMMON */

*, html, body {
	font-family: 'Inter';
	margin: 0px;
	padding: 0px;
	transition: ease all .5s;
}

html {
	scroll-behavior: smooth;
    overflow-y: scroll;
}

h1 {
	font-size: 60px;
	font-weight: normal;
}

h2 {
	font-size: 40px;
	font-weight: normal;
}

h3 {
	font-size: 24px;
	font-weight: normal;
}

p {
	font-size: 16px;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: #4F4F4F;
	transition: ease all .05s;
}

a:hover {
	color: #2F80ED;
}

.container {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
}

.section::before {
	content: '';
	display: block;
	height: 75px;
	margin-top: -75px;
	visibility: hidden;
}

.section {
	margin-bottom: 100px;
}

.section h2 {
	font-weight: 500;
	margin-bottom: 40px;
	color: #4F4F4F;
}

.section-description {
	font-weight: 400;
	color: #828282;
	margin-bottom: 40px;
}

.hidden {
	display: none;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

/* END COMMON */

/* PRELOADER */

#preloader-container {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
}

#preloader-container.hidden {
	display: none;
}

#preloader-container img {
	width: 5%;
}

/* END PRELOADER */

/* NAVBAR */

.mobile-top-bar {
	display: none;
}

.collapse {
    display: none;
}

.menu-toggler{
    margin-right: 24px;
	font-size: 36px;
    cursor: pointer;
}

.menu-toggler-close-button {
	display: none;
}

.menu-toggler i {
	font-size: 24px;
}

.top-nav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.1);
	background:#fff;
	z-index: 9;
	height: 64px;
}

.nav-brand {
	margin-left: 40px;
}

.nav-brand a {
	font-size: 24px;
	font-weight: 600;
    color: #4F4F4F;
}

.nav-list {
	list-style: none;
	display: flex;
}

.nav-list li {
	margin-right: 41px;
}

.nav-list li:last-child {
	margin-right: 26px;
}

.nav-list li a {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 29px;
	color: #828282;
}

.nav-list li a:hover {
	color: #2F80ED;
}

.selected-navitem {
	color: #9B51E0 !important;
}

/* Menu-Toggler Animations */

.open .start {
	animation: ease .7s menu-toggler-top-bar-open forwards;
}

.not-open .start {
	animation: ease .7s menu-toggler-top-bar-close forwards;
}

.open .center {
	animation: ease .7s menu-toggler-middle-bar-open forwards;
}

.not-open .center {
	animation: ease .7s menu-toggler-middle-bar-close forwards;
}

.open .end {
	animation: ease .7s menu-toggler-bottom-bar-open forwards;
}

.not-open .end {
	animation: ease .7s menu-toggler-bottom-bar-close forwards;
}

  /* End Menu-Toggler Animations */

/* END NAVBAR */

/* LANDING */

.landing-redirect-button {
	background-color: #2F80ED;
	border-width: 0;
	border-radius: 0.5em;
	width: 300px;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20%;
	margin-bottom: 5%;
}

.landing-redirect-button p {
	color: #F2F2F2 !important;
	margin: auto !important;
}

.landing-redirect-button i {
	color: #F2F2F2;
}

.landing {
	height: 100vh;
    position: relative;
    top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.landing h1 {
    font-weight: 600;
    color: #4F4F4F;
    /* margin-top: 20%; */
    margin-bottom: 10px;
}

.landing h2 {
    font-weight: 500;
    color: #828282;
    margin-top: 0;
	margin-bottom: 20px;
}

.landing h3 {
    font-weight: 500;
    color: #828282;
}

.landing p {
    font-weight: 500;
    color: #828282;
	margin-top: 40px;
	margin-bottom: 125px;
}

/* END LANDING */

/* PROJECTS */

.project {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 30px;
}

.project-description {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.project img {
	width: 40%;
	margin-right: 60px;
	border-radius: 4px;
}

.project-description h3 {
	font-weight: 500;
	color: #4F4F4F;
	margin-bottom: 2%;
	margin-top: 0px;
}

.project-description p {
	margin-top: 0px;
	margin-bottom: 2%;
	font-weight: 500;
	color: #828282;
}

.project-description .technologies {
	color: #9B51E0;
	margin-bottom: 2%;
}

.link-icon {
	font-size: 24px;
	margin-right: 16px;
}

.links {
	display: flex;
	flex-direction: row;
}

/* END PROJECTS */

/* YOUTUBE */

.youtube-videos {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.youtube-videos a {
	width: calc(25% - 16px);
	/* margin-bottom: 3%; */
}

.youtube-videos a:hover {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.youtube-videos img {
	width: 100%;
	height: 100%;
	border-radius: 4px;
}

/* END YOUTUBE */

/* ABOUT */

.about {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}

.about img {
	width: 20%;
	border-radius: 4px;
}

.about-text {
	margin-left: 40px;
	font-style: normal;
	font-weight: 500;
	color: #828282;
}

.about-text p {
	margin-top: 0px;
}

/* END ABOUT */

/* EXPERIENCE */

.experience {
	display: flex;
	flex-direction: row;
	margin-bottom: 40px;
}

.experience p {
	margin-top: 0px;
}

.experience-logo {
	width: 18%;
	height: 18%;
	border-radius: 4px;
	flex: 1;
}

.experience-twilio-logo {
	background-color: #F22F46;
}

.experience-details {
	margin-left: 24px;
	flex: 1;
	padding-right: 1%;
	margin-right: 24px;
}

.experience-details p {
	font-style: normal;
	font-weight: 400;
	color: #333333;
	margin-top: 4px;
	margin-bottom: 4px;
}

.experience-description {
	flex: 2;
}

.experience-details .organization {
	font-weight: bold;
}

.experience-description p.experience-technologies {
	margin-top: 10px;
	color: #9B51E0;
}

.experience-description p {
	font-style: normal;
	font-weight: 400;
	color: #828282;
	margin-top: 4px;
}

/* END EXPERIENCE */

/* PUBLICATIONS AND PRESENTATIONS */

.publication {
	margin-bottom: 40px;
}

.publication h2 {
	font-style: normal;
	font-weight: 400;
	color: #4F4F4F;
	margin-bottom: 10px;
}

.publication .publication-venue {
	color: #4F4F4F;
}

.publication p {
	font-style: normal;
	font-weight: 400;
	color: #828282;
}

.publication-links {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 10px;
}

.publication-link-icon {
	font-size: 20px;
	margin-right: 10px;
}

/* END PUBLICATIONS AND PRESENTATIONS */

/* PROJECT ARCHIVE */

.project-archive-link {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.project-archive-link p {
	color: #828282;
}

#project-archive {
	margin-top: -80px;
}

.archive-project:hover {
	background-color: #fcfcfc;
}

.project-archive {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.table-headings {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	gap: 30px;
}

.table-headings h3 {
	font-style: normal;
	font-weight: 500;
	color: #828282;
	flex: 1;
}

.table-headings h3.archive-project-year {
	flex: 0.5;
}

.table-headings h3.archive-project-description {
	flex: 3;
	display: none;
}

.table-headings h3.archive-project-technologies {
	flex: 3;
}

.table-headings h3.archive-project-links {
	flex: 0.25;
}

.archive-project {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	gap: 30px;
	align-items: center;
}

.archive-project p {
	font-style: normal;
	font-weight: 400;
	color: #4F4F4F;
	flex: 1;
}

.archive-project p.archive-project-year {
	flex: 0.5;
}

.archive-project p.archive-project-description {
	flex: 3;
	display: none;
}

.archive-project p.archive-project-technologies {
	flex: 3;
}

.archive-project p.archive-project-links {
	flex: 0.25;
	font-size: 20px;
}

/* END PROJECT ARCHIVE */

/* SOCIAL */

.social-links {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-links a {
	margin: 2%;
}

.social-links i {
	font-size: 24px;
}

.fa-envelope:hover {
	color: #ffc83f;
}

.fa-linkedin:hover {
	color: #0077B5;
}

.fa-github:hover {
	color: #333;
}

.fa-medium:hover {
    color: #000;
}

.fa-youtube:hover {
	color: #c4302b;
}

.fa-twitter:hover {
	color: #00acee;
}

.fa-instagram:hover {
	color: #828282;
}

.fa-wordpress:hover {
    color: #21759b;
}

.fa-google-play:hover {
	color: #828282;
}

.fa-app-store:hover {
	color: #18bffb;
}

.material-icons:hover {
	color: #828282;
}

/* END SOCIAL */

/* FOOTER */

.footer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.1);
	background:#fff;
	z-index: 9;
}

.social-links {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer p {
	padding: 20px;
}

/* END FOOTER */

/* RESPONSIVE */

@media only screen and (max-width: 1250px) {

	.nav-brand a {
		font-size: 18px;
	}

	.project img {
		width: 50%;
	}

	.project-description {
		width: 40%;
	}

	.youtube-videos a {
		width: calc(33% - 16px);
	}

	.about img {
		width: 40%;
	}
}

@media only screen and (max-width: 900px) {

	/* NAVBAR */

	.large-screen-only {
		display: none;
	}

	.mobile-top-bar {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-top: 20px;
		padding-bottom: 20px;
		box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.1);
		background:#fff;
		z-index: 8;
	}

	.menu-toggler-close-button {
		display: flex;
		position: absolute;
		right: 24px;
		top: 24px;
		font-size: 36px;
		cursor: pointer;
	}

	.nav-brand {
		margin-left: 24px;
	}

	.nav-brand a {
		font-size: 18px;
	}

	.top-nav {
		height: 100vh;
		left: 200%;
		width: 50%;
	}

	.top-nav.open {
		left: 50%;
		align-items: center;
		justify-content: center;
	}

	.top-nav ul {
		flex-direction: column;
		height: 100%;
		justify-content: center;
		align-items: center;
		gap: 30px;
	}

	.top-nav ul li {
		text-align: center;
		margin-right: 0px;
	}

	.nav-list li:last-child {
		margin-right: 0px;
	}

	.nav-list li a {
		font-size: 24px;
	}

	/* END NAVBAR */

	/* COMMON */

	.section {
		margin-bottom: 50px;
	}

	.section h2 {
		margin-bottom: 20px;
	}

	.section-description {
		margin-bottom: 20px;
	}

	/* END COMMON */

	/* PROJECTS */

	.project {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		margin-bottom: 20px;
	}
	
	.project-description {
		width: 100%;
	}
	
	.project img {
		width: 100%;
	}
	
	.project-description h3 {
		margin-bottom: 10px;
		margin-top: 10px;
		order: 1;
	}
	
	.project-description p {
		margin-top: -20px;
		margin-bottom: 10px;
		order: 3;
	}
	
	.project-description .technologies {
		margin-top: 0px;
		margin-bottom: 0px;
		order: 4;
	}
	
	.link-icon {
		font-size: 18px;
		margin-right: 0px;
		margin-left: 16px;
	}
	
	.links {
		order: 2;
		justify-content: flex-end;
		transform: translateY(-160%);
		align-items: center;
	}

	/* END PROJECTS */

	/* YOUTUBE */
	
	.youtube-videos a {
		width: calc(50% - 20px);
	}
	
	/* END YOUTUBE */

	/* ABOUT */

	.about {
		flex-direction: column;
	}

	.about img {
		width: 50%;
		margin-bottom: 20px;
	}

	.about-text {
		margin-left: 0px;
	}

	.about-text p {
		margin-top: 0px;
	}

	/* END ABOUT */

	/* EXPERIENCE */

	.experience {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.experience p {
		margin-top: 0px;
	}

	.experience-logo {
		width: 30%;
		height: 30%;
		border-radius: 4px;
		flex: 1;
	}

	.experience-details {
		width: 30%;
		flex: 1;
	}

	.experience-details p {
		margin-top: 0px;
	}

	.experience-description p {
		color: #828282;
		margin-top: 0px;
	}

	/* END EXPERIENCE */

	/* PUBLICATIONS AND PRESENTATIONS */

	.publication {
		margin-bottom: 40px;
	}

	.publication h3 {
		margin-bottom: 10px;
	}

	.publication-links {
		margin-top: 5px;
	}

	.publication-link-icon {
		font-size: 16px;
		margin-right: 5px;
	}

	/* END PUBLICATIONS AND PRESENTATIONS */

	/* ARCHIVE */

	#project-archive {
		margin-top: -30px;
	}

	/* END ARCHIVE */

	/* FOOTER */

	.social-links {
		width: 60%;
		margin-left: 20%;
	}

	.social-links {
		padding-top: 0px;
		padding-bottom: 30px;
		flex-wrap: wrap;
	}

	.social-links a {
		padding: 4%;
	}

	.social-links i {
		font-size: 18px;
	}

	/* END FOOTER */
}

@media only screen and (max-width: 600px) {

	/* COMMON */

	h1 {
		font-size: 36px;
	}
	
	h2 {
		font-size: 24px;
	}
	
	h3 {
		font-size: 18px;
	}
	
	p {
		font-size: 14px;
	}

	/* END COMMON */

	.nav-brand a {
		font-size: 14px;
	}

	.top-nav {
		width: 75%;
	}

	.top-nav.open {
		left: 25%;
	}

	.nav-list li a {
		font-size: 18px;
	}

	.youtube-videos a {
		width: 100%;
	}

	.about img {
		width: 100%;
	}

	.experience {
		align-items: center;
	}

	.experience-logo {
		width: 40%;
		height: 40%;
		flex: 1;
	}

	.experience-details {
		width: 50%;
		flex-basis: 50%;
		margin-right: 0px;
	}

	.experience-description {
		margin-top: 10px;
		width: 100%;
	}

	.project-archive h3.archive-project-technologies {
		display: none;
	}

	.project-archive p.archive-project-technologies {
		display: none;
	}
}

@media only screen and (min-width: 1650px) {
	.container {
		width: 50%;
		padding-left: 25%;
		padding-right: 25%;
	}

	.about img {
		width: 30%;
	}

}

/* END RESPONSIVE */