
/*Terminal*/

.fakeButtons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
/*  border: 1px solid #000;*/
  position: relative;
  top: 6px;
  left: 6px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}

.fakeMinimize {
/*  left: 11px;*/
  background-color: #ffc100;
/*  border-color: #9d802c;*/
}

.fakeZoom {
/*  left: 16px;*/
  background-color: #00d742;
/*  border-color: #049931;*/
}

.fakeMenu {
    box-sizing: border-box;
    height: 25px;
    background-color: #f1f1f1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.fakeScreen {
    background-color: #151515;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

span {
  color: #fff;
  font-weight: bold;
}

.line1 {
    font-size: 2.75rem;
    color: #9CD9F0;
}

.line2 {
    font-size: 1.5rem;
    color: #CDEE69;

}

.line3 {
    color: #E09690;
}

.line4 {
    color: #fff;
    width: 0;
    overflow:hidden;
}

.fakeScreen:hover .line4 {
/*  color: #fff;*/
  -webkit-animation: type .5s steps(20, end) forwards;
  -moz-animation: type .5s steps(20, end) forwards;
  -o-animation: type .5s steps(20, end) forwards;
  animation: type .5s steps(20, end) forwards;
}

.fakeScreen:active .line4 {
    -webkit-animation: type .5s steps(20, end) forwards;
  -moz-animation: type .5s steps(20, end) forwards;
  -o-animation: type .5s steps(20, end) forwards;
  animation: type .5s steps(20, end) forwards;
}

@-webkit-keyframes type {
  to {
    width: 17em;
  }
}

@-moz-keyframes type {
  to {
    width: 17em;
  }
}

@-o-keyframes type {
  to {
    width: 17em;
  }
}

@keyframes type {
  to {
    width: 17em;
  }
}

.fakeScreen:hover .cursor4 {
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  -o-animation: blink 1s infinite;
  animation: blink 1s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*End Terminal*/

/*Browser window*/

.browser-window {
/*  border: 3px solid #f1f1f1;*/
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* Container for columns and the top "toolbar" */
.row {
    display: flex;
    align-items: center;
  padding: 10px;
  background: #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.browser-window .fakeButtons {
    top: 0;
}

.left {
  width: 15%;
}

.right {
  width: 10%;
}

.middle {
  width: 75%;
}

/* Three dots */
.dot {
  margin-top: 4px;
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

/* Style the input field */
input[type=text] {
  width: 100%;
  border-radius: 3px;
  border: none;
  background-color: white;
/*  margin-top: -8px;*/
  height: 25px;
  color: #666;
  padding: 5px;
}

.browser-content {
    background-color: #fff;
    padding: 10px;
    padding-top: 30px;
}

/*End Browser Window*/


/*About*/

.about {
    display: flex;
/*    align-items: center;*/
    padding-left: 50px;
    padding-right: 50px;
}

.portrait {
    flex: 1;
}

.portrait img {
    width: 70%;
    border-radius: 3px;
}

/*End About*/


/*Social*/

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul li ul {
  font-size: 13px;
}
ul li ul li {
  padding: 0 0 3px 15px;
}

#sidebar > i {
  display: inline-block;
  width: 19px;
  height: 19px;
  position: relative;
  top: 4px;
  background: url("https://i.imgur.com/YO1WL.png") no-repeat;
}

#finder {
  display: block;
  background-color: #ededed;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px, rgba(0, 0, 0, 0.1) -1px -1px, rgba(0, 0, 0, 0.1) 1px -1px, rgba(0, 0, 0, 0.1) -1px 1px, rgba(0, 0, 0, 0.8) 0 0 70px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px, rgba(0, 0, 0, 0.1) -1px -1px, rgba(0, 0, 0, 0.1) 1px -1px, rgba(0, 0, 0, 0.1) -1px 1px, rgba(0, 0, 0, 0.8) 0 0 70px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px, rgba(0, 0, 0, 0.1) -1px -1px, rgba(0, 0, 0, 0.1) 1px -1px, rgba(0, 0, 0, 0.1) -1px 1px, rgba(0, 0, 0, 0.8) 0 0 70px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
/*  width: 770px;*/
/*  height: 435px;*/
    width: 100%;
    max-width: 770px;
    height: 435px;
  margin: 0 auto;
}
#finder *::before,
#finder *::after {
/*  content: "";*/
/*  position: absolute;*/
  display: block;
}

#toolbar {
  position: relative;
  display: block;
  border-bottom: solid 1px #686868;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0ZTRlNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2I4YjdiOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e4e4e4), color-stop(100%, #b8b7b8));
  background: -moz-linear-gradient(#e4e4e4, #b8b7b8);
  background: -webkit-linear-gradient(#e4e4e4, #b8b7b8);
  background: linear-gradient(#e4e4e4, #b8b7b8);
  -moz-box-shadow: #f1f1f1 0 1px inset;
  -webkit-box-shadow: #f1f1f1 0 1px inset;
  box-shadow: #f1f1f1 0 1px inset;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px;
  border-radius: 6px 6px 0 0;
}

#traffic-light {
  position: absolute;
  display: inline;
  left: 4px;
}

#windowname {
  text-align: center;
  font-size: 13px;
  line-height: 23px;
}

#view {
    width: 100%;
    height: 94%;
}

#sidebar {
/*  width: 133px;*/
/*  height: 380px;*/
    width: 20%;
    height: 100%;
  background-color: #e7ebf0;
  -moz-box-shadow: -1px 0 #b8b8b8 inset;
  -webkit-box-shadow: -1px 0 #b8b8b8 inset;
  box-shadow: -1px 0 #b8b8b8 inset;
  -moz-border-radius: 0 0 0 6px;
  -webkit-border-radius: 0;
  border-radius: 0 0 0 6px;
  float: left;
}

.group {
  text-transform: uppercase;
  color: #707e8b;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 25px;
  padding: 5px;
}

#content {
/*  width: 637px;*/
/*  height: 380px;*/
    width: 80%;
    height: 100%;
  background-color: #fff;
  -moz-border-radius: 0 0 6px 0;
  -webkit-border-radius: 0;
  border-radius: 0 0 6px 0;
  float: left;
}

.folder {
  width: 100px;
/*  height: 90px;*/
  margin: 0px 20px 21px 25px;
  text-align: center;
  float: left;
/*    max-width: 90px;*/
}

.fa-envelope:hover {
    color: #ffc83f;
}

.fa-twitter-square:hover{
    color: #00acee;
}

.fa-youtube-square:hover{
    color: #c4302b;
}

.fa-linkedin:hover{
    color: #0077B5;
}

.fa-medium:hover{
    color: #000;
}

.fa-wordpress:hover{
    color: #21759b;
}

.fa-blogger:hover{
    color:#ff5722;
}

.fa-github-square:hover{
    color: #333;
}


.fab, .fas {
    font-size: 4rem;
    display: inline-block;
    margin-top: 20px;
    color: #555;
}

/* sidebar icons */
.afiles {
  background-position: -3px -4px;
}

.airdrop {
  background-position: -3px -29px;
}

.apps {
  background-position: -3px -53px;
}

.desk {
  background-position: -3px -76px;
}

.docs {
  background-position: -3px -100px;
}

.downs {
  background-position: -3px -125px;
}

.mov {
  background-position: -3px -148px;
}

.music {
  background-position: -3px -172px;
}

.pic {
  background-position: -3px -195px;
}

/* sidebar selection */
.current_page {
  color: #f3ffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY3YjFkZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM0ODljYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #67b1df), color-stop(100%, #3489cc));
  background: -moz-linear-gradient(#67b1df, #3489cc);
  background: -webkit-linear-gradient(#67b1df, #3489cc);
  background: linear-gradient(#67b1df, #3489cc);
  -moz-box-shadow: #5aa5da 0 1px inset, #6fbae5 0 2px inset, #307cbc 0 -1px inset;
  -webkit-box-shadow: #5aa5da 0 1px inset, #6fbae5 0 2px inset, #307cbc 0 -1px inset;
  box-shadow: #5aa5da 0 1px inset, #6fbae5 0 2px inset, #307cbc 0 -1px inset;
}
.current_page .afiles {
  background: url("https://i.imgur.com/wBIjH.png") no-repeat;
}


/*End Social*/


/*Media Rules*/

@media screen and (max-width: 1250px) {
    .sidenav .nav-link {
        font-size: 2rem;
    }
    
    .landing-text h1 {
        font-size: 4rem;
    }
    
    .landing-text h6 {
        font-size: 1.5rem;
    }
    
    .down-button h5 {
        font-size: 1.5rem
    }
    
    .video-item {
        width: 750px;
    }
    
    .video-item img {
        width: 25%;
    }
}

@media screen and (max-width: 1000px) {
    .project-card{
        width: 40%;
        margin-bottom: 20px;
    }
    
    .video-item {
        width: 600px;
    }
    
    .collapse{
        display: flex;
    }
    
    .sidenav {
        width: 60vw;
        height: 100vh;
        position: fixed;
        transition: all 650ms cubic-bezier(1, 0, 0, 1);
        z-index: 50;
        left: -100vw;
    }
    
    .sidenav .nav-link {
        font-size: 3rem;
    }
    
    .landing-text {
        margin-left: 0;
    }
    
    .down-button {
        margin-left: 0;
    }
    
    .video-item {
        width: 100%;
    }
    
    section {
        margin-left: 0;
    }
    
    footer {
        padding-left: 0;
    }
}

@media screen and (max-width: 900px) {
    
    .nav-list{
        flex-direction: column;
    }
    
    .card{
        flex-grow: 1;
    }
    
    .top-padded{
        padding-top: 0;
    }
    
    .video-img{
        width: 45%;
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .collapse{
        display: flex;
    }
    
    .section-heading h1{
        font-size: 3rem;
    }
    
    .section-end h1 {
        font-size: 3rem;
    }
    
    .project-card{
        width: 80%;
        margin-right: 0;
    }
    
    #window {
        width: 100%;
        margin-top: 30px;
    }
    
    .project-heading h1{
        font-size: 4rem;
        opacity: .3;
    }
    
    .video-item h4 {
        overflow: hidden;
       text-overflow: ellipsis;
       display: -webkit-box;
       -webkit-line-clamp: 5; /* number of lines to show */
       -webkit-box-orient: vertical;
    }
    
    .video-img{
        width: 50%;
        margin-bottom: 3rem;
    }
    
    .about {
        flex-direction: column;
    }
    
    .portrait {
        text-align: center;
    }
    
    .portrait img {
        width: 50%;
    }
    
    .folder {
        width: 100%;
        max-width: none;
        text-align: left;
    }
    
    .folder p {
        display: unset;
    }
    
    .folder i {
        font-size: 2rem;
        margin-top: 0;
    }
    
    #content {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }

}

@media screen and (max-width: 600px) {
    .menu-toggler{
        top: 2rem;
        left: 2rem;
    }
    
    .landing-text h1{
        font-size: 2.5rem;
    }
    
    .landing-text h6{
        font-size: 1.2rem;
    }
    
    .down-button h5 {
        font-size: 1.2rem;
    }
    
    .sidenav .nav-link {
        font-size: 2rem;
    }
    
    .project-heading h1{
        font-size: 3rem;
        opacity: .3;
    }
    
    .project-section {
        padding: 2rem;
    }
    
    .section-heading h6 {
        font-size: 1.6rem;
    }
    
    .content-box{
        text-align: justify;
    }
    
    .project-heading{
        margin-bottom: 3rem;
    }
    
    .project-page-intro-text {
        text-align: justify;
    }
    
    .video-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .video-item h4 {
        text-align: justify;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .video-item h4 {
        overflow: visible;
       display:block;
    }
    
    .video-item img {
        width: 70%;
    }
    
    .video-description {
        margin-top: 10px;
        margin-bottom: 25px;
        margin-left: 0;
    }
    
    .video-img{
        width: 100%;
        margin-bottom: 3rem;
    }
    
    .section-heading h1{
        font-size: 2.7rem;
    }
    
    .section-end h1 {
        font-size: 2.7rem;
    }
    
    .about img {
        width: 100%;
    }
    
    #sidebar {
        display: none;
    }
    
    #actions {
        display: none;
    }
    
    #view {
        height: 94%;
    }
    
    #content {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }
    
    .folder {
        width: 100%;
        max-width: none;
        text-align: left;
    }
    
    .folder p {
        display: unset;
    }
    
    .folder i {
        font-size: 2rem;
        margin-top: 0;
    }
}

/*End Media Rules*/