body {
/*    background-color: #eee;*/
    color: 222;
}

p {
    color: #eee;
}

hr {
    border-bottom-style: solid;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    color: #777;
    margin-top: 20px;
    margin-bottom: 20px;
}

.project-heading {
    width: 98vw;
    align-items: center
}

.project-heading h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 20px;
    color: #eee;
}

.project-end h1 {
    font-size: 3rem;
    color: #eee;
    text-align: center;
/*    margin-top: 20px;*/
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.container h2 {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
/*    margin-bottom: 10px;*/
    color: #eee;
/*    margin-top: 20px;*/
}

#window {
    height: 100%;
    width: 100%;
    margin-top: 0;
}

.phone-container {
/*    flex: 1;*/
/*    display: flex;*/
/*    flex-direction: column;*/
    width: 40%;
    min-height: 300px;
    text-align: center;
}

.phone-container img {
    width: 50%;
}

.btn-container {
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    align-items: center;
    width: 30vw;
    margin-left: 35vw;
}

.single-btn-container {
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    align-items: center;
    width: 15vw;
    margin-left: 42vw;
}

.game-btn-container {
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 15%;
    margin-left: 42.5%;
}

.project-btn-container {
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    align-items: center;
    width: 25%;
    margin-left: 37.5%;
}

.btn-google {
    flex: 1;
}

.btn-apple {
    flex: 1;
}

.btn-google img {
    width: 75%;
}

.btn-apple img{
    width: 66%;
}

textarea {
    font-size: 1.8rem;
    min-height: 320px;
}

.notepad-container {
    flex: 1;
    width: 100%;
}

.textcontainer p {
    text-align: justify;
}

#big-image {
    width: 80%;
    border: 1px solid black;
    margin-left: 20%;
}

.container h6 {
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    text-decoration: underline;
/*    margin-bottom: 20px;*/
}

.container a {
/*    color: #ccc;*/
    color: #9CD9F0
}

.container a:hover {
    font-weight: bold;
}


/*Media Rules*/

@media screen and (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }
    
    .textcontainer {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .phone-container {
        width: 100%;
        text-align: center;
    }
    
    #big-image {
        margin-left: 0;
    }
    
    .phone-container img {
        width: 50%;
    }
    
    .btn-container {
        width: 40vw;
        margin-left: 30vw;
    }
    
    .btn-google img {
        width: 100%;
    }

    .btn-apple img{
        width: 85%;
    }
}

@media screen and (max-width: 600px) {
    
    .project-heading h1 {
        font-size: 2.7rem;
    }
    
    .project-end h1 {
        font-size: 2.7rem;
    }
    
    p {
        text-align: justify;
        font-size:  1.5rem;
    }
    
    .btn-container {
        width: 60vw;
        margin-left: 20vw;
    }
    
    .single-btn-container {
        width: 20vw;
        margin-left: 40vw;
    }
    
    .project-btn-container {
        width: 40%;
        margin-left: 30%;
    }
    
    .game-btn-container {
        width: 40%;
        margin-left: 30%;
    }
    
    .container h6 {
        font-size: 1.5rem;
    }
    
    .phone-container img {
        width: 50%;
    }
}

/*End Media Rules*/